html, body {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    margin: 0;
}

a {
    text-decoration: none;
}

.w3-main {
    margin: 0px;
    padding: 0px;
    min-height: 95vh;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.w3-search{
    /*border: 1px solid black;*/
    width: fit-content;
    margin: 0;
    padding: 0;
}

.w3-results{
    /*border: 1px solid black;*/
    width: fit-content;
    margin: 10px;
    padding: 0;
}

input {
    border: 1px solid grey;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    width: 350px;
}

button {
    border: 1px solid grey;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

/* header menu - base.html */
header {
    background-color: #333;
}

nav {
    width: 80%;
    margin: 0 auto;
    display: flex;
    border: 1px solid black;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav a:hover {
    color: white;
}

.navbar {
    border: 1px solid black;
}



.navbar ul {
    overflow: hidden;
}

.navbar li {
    float: left;
    position: relative;
    }
    
.navbar a {
    display: block;
    padding: 10px 20px;
    color: #cccccc;
    text-decoration: none;
    text-transform: uppercase;
}

/* gas tracker - base.html */
.gas-tracker {
    border: 1px solid black;
}

.gas-tracker ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.gas-tracker li {
    display: block;
    padding: 10px 20px;
}

.gas-tracker a {
    color: #cccccc;
    text-decoration: none;
}