*, :after, :before {
    box-sizing: border-box;
}

html, body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    margin: 0;
}

main {
    margin: 0;
    padding: 0;
}

.address {
    margin: auto;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.address-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    margin: 24px 0;
    padding: 12px 24px;
    max-width: 960px;
    border: 1.35px solid #eff1f3;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .03);
    border-radius: 10px;
}

.address-info-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 0;
    border-radius: 10px;
}

.info-key {
    font-weight: 300;
    text-align: left;
}

.info-value {
    font-weight: 500;
}

.address-stats-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    width: auto;
    margin: 0;
    padding: 0;
    border-radius: 10px;
}

.address-stats-box div {
    padding: 0 10px;
}

.stats-key {
    white-space: nowrap;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
}

.stats-value {
    white-space: nowrap;
    font-size: 16px;
    font-weight: 500;
}

.stats-divider {
    height: 76px;
    width: 1.5px;
    background: #d9d9d9;
}

/* header menu - base.html */
header {
    background-color: #333;
}

/* nav element */
nav {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .navbar class - left nav menu*/
.navbar ul {
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

.navbar a {
    display: block;
    padding: 10px 20px;
    color: #cccccc;
    text-decoration: none;
    text-transform: uppercase;
}

.navbar a:hover {
    color: white;
}

/* .tracker class - right nav menu */
/*@media (max-width: 900px) {
    .tracker {
        display: none;
    }
}*/
    
.tracker ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

.tracker li {
    color: #cccccc;
    white-space: nowrap;
    display: block;
    padding: 10px 10px;
}

.tracker a {
    text-decoration: none;
    color: white;
}

.tracker a:hover {
    color: skyblue;
}

/* address search bar */
.w3-search {
    margin: 0;
    padding: 0;
    margin-right: 1px;
}

.w3-search form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.w3-search input {
    border: 1px solid grey;
    margin: 8px auto;
    padding: 8px;
    border-radius: 8px;
    width: 100px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.w3-search input:focus {
    width: 330px;
}

.w3-search button {
    border: 1px solid grey;
    margin: 8px auto;
    padding: 8px;
    border-radius: 8px;
}

.w3-results {
    width: fit-content;
    margin: 10px;
    padding: 0;
}