{% extends "core/base.html" %}

{% block title %}web3app - login{% endblock %}

{% block content %}
{% load humanize %}
<main>
    <div class="address">
        <div class="address-header">
            <div class="address-info-box">
                <div class="info-key">Address</div>
                <div class="info-value">{{ address }}</div>
            </div>
            <div class="address-stats-box">
                <div>
                    <div class="stats-key">ETH Balance</div>
                    <div class="stats-value">{{ eth_balance }} ETH</div>
                </div>
                <span class="stats-divider"></span>
                <div>
                    <div class="stats-key">ETH Value</div>
                    <div class="stats-value">${{ eth_value|floatformat:2|intcomma }}</div>
                </div>
            </div>
        </div>
    </div>
</main>
<br>

{% endblock %}