<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}web3app{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <script>
            document.addEventListener('DOMContentLoaded', () => {
                const themeSelect = document.getElementById('theme-select');
                const themeMap = {
                    'system': 0,
                    'light': 1,
                    'dark': 2
                };
                
                // set initial theme
                let currentThemeKey = localStorage.getItem('themeKey') || 'system';
                themeSelect.selectedIndex = themeMap[currentThemeKey];

                function updateTheme() {
                    const htmlClassList = document.documentElement.classList;
                    htmlClassList.remove('dark', 'light'); // Remove class for dark and light
                    
                    if (currentThemeKey === 'dark' || currentThemeKey === 'light') {
                        htmlClassList.add(currentThemeKey);
                    }
                }
                
                updateTheme();

                themeSelect.addEventListener('change', () => {
                    currentThemeKey = themeSelect.options[themeSelect.selectedIndex].value;
                    localStorage.setItem('themeKey', currentThemeKey); // save to local storage
                    updateTheme();
                });
            });
        </script>
    </head>

<body>
    {% load humanize %}
    <div class="sticky-header-container">
        <header class="topbar">
            <div class="search-form">
                <form action="{% url 'core:search' %}" method="post">
                    {% csrf_token %}
                    {{ search_form }}
                </form>
            </div>
            <div class="tracker">
                <div class="tracker-info">Gas: <a href="https://etherscan.io/gastracker">{{ gas_context.ProposeGasPrice }} gwei</a></div>
                <div class="tracker-info">ETH Price: <a href="https://etherscan.io/chart/etherprice">${{ eth_context.ethusd|floatformat:2|intcomma }}</a></div>
            </div>
        </header>
        <nav class="navbar">
            <ul>
                <li><a href="{% url 'core:index' %}">Home</a></li>
                <li><a href="{% url 'core:conversion' %}">Converter</a></li>
            </ul>
                <select id="theme-select">
                    <option value="system">OS Theme</option>
                    <option value="light">Light Theme</option>
                    <option value="dark">Dark Theme</option>
                </select>
        </nav>
    </div>

    <main>
    {% block content %}{% endblock %}
    </main>

</body>
</html>