<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}web3app{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>

    <body>
        {% load humanize %}
    <header>
        <nav>
            <div class="navbar">
                <ul>
                    <li><a href="{% url 'core:index' %}">Home</a></li>
                    <li>
                        <div class="w3-search">
                            <form action="{% url 'core:index' %}" method="get">
                                {{ form }}
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="tracker">
                <ul>
                    <li>Gas: <a href="https://etherscan.io/gastracker">{{ gas.ProposeGasPrice }} gwei</a></li>
                    <li>ETH Price: <a href="https://etherscan.io/chart/etherprice">${{ eth_usd|floatformat:2|intcomma }}</a></li>
                </ul>
            </div>
        </nav>
    </header>

        {% block content %}{% endblock %}
    </body>
</html>