{% extends "core/base.html" %}

{% block title %}web3app - login{% endblock %}

{% block content %}
{% load humanize %}
<div class="index">
    <div class="index-header">
        <div class="index-header-left">
            <div class="header-info-box">
                <div class="info-key">ETH Price</div>
                <div class="info-value"><a href="https://etherscan.io/chart/etherprice">${{ eth_data.ethusd|floatformat:2|intcomma }}</a></div>
            </div>
            <span class="header-h-divider"></span>
            <div class="header-info-box">
                <div class="info-key">Market Cap</div>
                <div class="info-value">mc  here</div>
            </div>
        </div>
        <span class="header-v-divider"></span>
        <div class="index-header-right">
            <div class="index-header-right-box">
                <div class="header-info-box">
                    <div class="info-key">Gas Price</div>
                    <div class="info-value">gas price here</div>
                </div>
                <div class="header-info-box right">
                    <div class="info-key">Txn count</div>
                    <div class="info-value">txns # here</div>
                </div>
            </div>
            <span class="header-h-divider"></span>
            <div class="index-header-right-box">
                <div class="header-info-box">
                    <div class="info-key">Supply</div>
                    <div class="info-value">supply  here</div>
                </div>
                <div class="header-info-box right">
                    <div class="info-key">Block #</div>
                    <div class="info-value">block # here</div>
                </div>
            </div>
        </div>

    </div>

    <div class="index-view">

    </div>
</div>
{% endblock %}