{% extends "core/base.html" %}

{% block title %}web3app - login{% endblock %}

{% block content %}
{% load humanize %}
<div class="index">
    <div class="index-header">
        <div class="index-header-left">
            <div class="header-info-box">
                <div class="info-key">ETH Price</div>
                <div class="info-value"><a href="https://etherscan.io/chart/etherprice">${{ eth_context.ethusd|floatformat:2|intcomma }}</a></div>
            </div>
            <span class="header-h-divider"></span>
            <div class="header-info-box">
                <div class="info-key">Market Cap</div>
                <div class="info-value"><a href="https://etherscan.io/chart/marketcap">${{ eth_market_cap|floatformat:2|intcomma }}</a></div>
            </div>
        </div>
        <span class="header-v-divider"></span>
        <div class="index-header-right">
            <div class="index-header-right-box">
                <div class="header-info-box">
                    <div class="info-key">Average Gas Price</div>
                    <div class="info-value"><a href="https://etherscan.io/gastracker">{{ gas_context.ProposeGasPrice }} gwei</a></div>
                </div>
                <div class="header-info-box right">
                    <div class="info-key">Node count</div>
                    <div class="info-value"><a href="https://etherscan.io/nodetracker">{{ node_count }}</a></div>
                </div>
            </div>
            <span class="header-h-divider"></span>
            <div class="index-header-right-box">
                <div class="header-info-box">
                    <div class="info-key">Supply</div>
                    <div class="info-value"><a href="https://etherscan.io/stat/supply">{{ eth_supply|floatformat:2|intcomma }} ETH</a></div>
                </div>
                <div class="header-info-box right">
                    <div class="info-key">Block #</div>
                    <div class="info-value"><a href="https://docs.etherscan.io/api-endpoints/blocks">{{ block_num }}</a></div>
                </div>
            </div>
        </div>

    </div>

    <div class="index-view">

    </div>
</div>
{% endblock %}