{% extends "core/base.html" %}

{% block title %}web3app - login{% endblock %}

{% block content %}
<br>
<div>
    <form action="{% url 'core:balance' %}" method="get">
        {% csrf_token %}
        <label for="faddress">Search</label>
        <br>
        <input type="text" id="faddress" name="faddress" placeholder="Search by Address">
        <br>
        <button for="search">Submit</button>
    </form>
</div>
<br>
{% if balance %}
    <div>
    <p>ETH BALANCE:</p>
    <p>{{ balance }} ETH</p>
</div>
{% endif %}
{% endblock %}